name: Deploy Backend

on:
  workflow_dispatch

env:
  AZURE_WEBAPP_NAME: 'sunrise-real-estate-backend'    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: 'release.zip'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '20.x'                # set this to the node version to use

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Install Node.js
        uses: actions/setup-node@main
        with:
          node-version: 20.x

      - uses: pnpm/action-setup@master
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV
      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
            
      - name: Install dependencies, generate Prisma
        env:
          PRISMA_CLI_BINARY_TARGETS: 'debian-openssl-3.0.x'
        run: |
          pnpm install --no-frozen-lockfile
          pnpm gen-client
        working-directory: ./packages/backend
        
      - name: Zip artifact for deployment
        run: zip release.zip ./* -r
        working-directory: ./packages/backend

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@main
        if: success()
        with:
          name: node-app
          path: ./packages/backend/release.zip
          if-no-files-found: error

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: production
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@main
      with:
        name: node-app

    #- name: Unzip artifact for deployment
     # run: unzip release.zip

    - name: 'Deploy to Azure WebApp'
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v3
      if: success()
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        type: ZIP,
        clean: true,
        restart: true
