name: Deploy Backend

on:
  push:
    branches:
      - deploy  # adjust to your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: sunrise-real-estate-backend
          slot-name: production  # Optional: specify the deployment slot name
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: packages/backend/dist  # Adjust this if the backend folder has a different name

      - name: Run dev script
        run: |
          # Assuming your dev script is named "dev" in your backend package.json
          cd packages/backend/dist
          node app.js
          
